# -------------------------
# PYTHON CACHE / BUILD
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.abi3.so
*.manifest
*.spec

# Egg / Packaging
*.egg-info/
*.egg
dist/
build/

# -------------------------
# VIRTUAL ENVS / UV / POETRY
# -------------------------
.venv/
venv/
.env
.pvenv/
poetry.lock
uv.lock

# -------------------------
# TEST / COVERAGE
# -------------------------
.pytest_cache/
coverage.xml
htmlcov/
.tox/
.coverage*

# -------------------------
# IDE / EDITOR
# -------------------------
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# -------------------------
# LOGS / TEMP
# -------------------------
*.log
*.tmp
*.bak

# -------------------------
# NODE / FRONTEND
# -------------------------
node_modules/
.svelte-kit/
vite.config.ts.timestamp-*